songs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="compositorType">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="apellidos" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="compositoresType">
    <xs:sequence>
      <xs:element name="compositor" type="compositorType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="productorType">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="apellidos" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="productoresType">
    <xs:sequence>
      <xs:element name="productor" type="productorType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="canciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cancion" type="cancionType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="cancionType">
    <xs:sequence>
      <xs:element name="titulo" type="xs:string"/>
      <xs:element name="compositores" type="compositoresType"/>
      <xs:element name="productores" type="productoresType"/>
      <xs:element name="sello" type="xs:string"/>
      <xs:element name="artista" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="duracion" type="xs:string"/>
    <xs:attribute name="año" type="xs:string"/>
  </xs:complexType>

</xs:schema>
